<nav id="context-menu" class="context-menu">
  <ul class="context-menu__items">

    <li class="context-menu__item">

      <a href="#" id="move" class="context-menu__link">Move</a>
      <div id="dialog-move" title="Move" class="file-action">

        <% writable_dps = DataProvider.find_all_accessible_by_user(current_user).all.select { |dp| ! dp.read_only? } %>
        To Data Provider:
        <%= data_provider_select(:data_provider_id_for_mv_cp, { :data_providers => writable_dps },
        :include_blank => "(Select Destination)") %><br/>
        <!-- jQuery has a bug for the following checkbox, which explains the style attribute. -->
        Overwrite files on Destination:
        <input type="checkbox" name="crush_destination" value="crush" style="position: relative; left: 0;"><br/>
        <%= external_highjacker_submit_button("Move Files", "userfile_table_form", :name => :move, :url => url_for(:action  => :change_provider),
              :class     => "button",
              :method  => :post) %>

      </div>

    </li>

    <li class="context-menu__item">

      <a href="#" id="delete" class="context-menu__link" > Delete</a>
      <div id="dialog-delete" title="Delete" class="file-action">


    <%= external_highjacker_submit_button("Delete the files!", "userfile_table_form", :name => :delete, :url => url_for(:action  => :delete_files),
          :confirm => "Are you sure you want to delete the selected files?",
          :class     => "button",
          :method  => :delete) %>

      </div>
    </li>

    <li class="context-menu__item">
      <a href="#" id="copy" class="context-menu__link" > Copy</a>
      <div id="dialog-copy" title="Copy" class="file-action">

        <% writable_dps = DataProvider.find_all_accessible_by_user(current_user).all.select { |dp| ! dp.read_only? } %>
        To Data Provider:
        <%= data_provider_select(:data_provider_id_for_mv_cp, { :data_providers => writable_dps },
        :include_blank => "(Select Destination)") %><br/>
        <!-- jQuery has a bug for the following checkbox, which explains the style attribute.-->
        Overwrite files on Destination:
        <input type="checkbox" name="crush_destination" value="crush" style="position: relative; left: 0;"><br/>
        <%= external_highjacker_submit_button("Copy Files", "userfile_table_form", :name => :copy, :url => url_for(:action  => :change_provider),
              :class     => "button",
              :method  => :post) %>

      </div>
    </li>

    <li class="context-menu__item">
      <a href="#" id="download" class="context-menu__link" > Download</a>
      <div id="dialog-download" title="Download" class="file-action">

        Specify Download File Name (optional):
        <%= text_field_tag :specified_filename %>
        <%= external_highjacker_submit_button("Download Files", "userfile_table_form", :url  => url_for(:controller => 'userfiles', :action => 'download'),
        :ajax_submit  => false, :class => "button", :method  => :get) %>


      </div>
    </li>

    <li class="context-menu__item">
      <a href="#" id="collection" class="context-menu__link" > Create Collection</a>
      <div id="dialog-collection" title="Collection" class="file-action">


        <% writable_dps = DataProvider.find_all_accessible_by_user(current_user).all.select { |dp| ! dp.read_only? } %>

        Name for the collection (optional):
        <%= text_field_tag :collection_name %>
        To Data Provider:
        <%= data_provider_select(:data_provider_id_for_collection, { :data_providers => writable_dps },
        :include_blank => "(Select Destination)") %>
        <%= external_highjacker_submit_button("Create Collection", "userfile_table_form", :url => url_for(:action  => :create_collection),
              :class     => "button",
              :method  => :post) %>

      </div>
    </li>

    <li class="context-menu__item">
      <a href="#" id="compress" class="context-menu__link" > Squeez</a>
      <div id="dialog-compress" title="Compress" class="file-action">

         For file(s):
        <%= external_highjacker_submit_button("Compresss or Archive", "userfile_table_form", :url => url_for(:action  => :squeeze),
              :confirm => "Are you sure you want to compress the selected files?",
              :class     => "button",
              :method  => :post) %>

      </div>
    </li>

    <li class="context-menu__item">
      <a href="#" id="uncompress" class="context-menu__link" > Enlarge</a>
      <div id="dialog-uncompress" title="Uncompress" class="file-action">



        For file(s):
        <%= external_highjacker_submit_button("Uncompresss or Unarchive",  "userfile_table_form", :url     => url_for(:action  => :enlarge),
        :confirm => "Are you sure you want to uncompress the selected files?",
        :class   => "button",
        :method  => :post)
        %>


      </div>
    </li>

  </ul>


</nav>


