<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<div id="toolsDialog" title="Select a Tool" >

  <div class="userfiles_bourreau_selector" id="tool_version_selector">
  </div>

  <br/>


  <div id="toolsDialogWrapper">
    <div id="toolsDialogLeftCol">

      <div>
        <b>Search: </b><input type="text" id="searchToolSelectionBox">
      </div>
      <br/>
      <div>
        All tools: <input type="checkbox" class="tag_checkbox" id="showAllTools"/>
      </div>
      <br/>

      <b>Type:</b>
      <br/>

      <% @tool_tags.each do |tag|%>

        <%if tag.name.downcase == "preprocessing" || tag.name.downcase == "fmri" || tag.name.downcase == "dt1"               || tag.name.downcase == "structural" || tag.name.downcase == "genomic"%>

              <%=tag.name.downcase%>:
              <input type="checkbox" class="tag_checkbox" name="<%=tag.name%>"/><br/>

        <% end %>

      <% end %>

      <br/>
      <b>Sofware Package:</b><br/>

      <% @tool_tags.each do |tag|%>

        <%if tag.name.downcase == "fsl" || tag.name.downcase == "minc" || tag.name.downcase == "civet" ||                       tag.name.downcase == "niak"%>
              <%=tag.name.downcase%>:

              <input type="checkbox" class="tag_checkbox" name="<%=tag.name%>"/><br/>
        <% end %>

      <% end %>

      <br/>
      <a id="clearTags" href="#">clear selection</a>

    </div>
    <div id="toolsDialogRightCol">

        <b>Tools:</b>
        <div class="tools-container">

          <table id="toolSelectTable" >

            <% if @tools_to_pick.present? %>

            <%@tools_to_pick.each do |tool|%>

            <tr
            <%tool.tags.each do |tool_tag|%>
            data-<%= tool_tag.name %> = 'true'
            <%end%>
            >
            <td id="tool_<%= tool.id %>">

              <%=
              "<b><a href= '#' data-tool-id=\"#{tool.id}\" class='toolsLink'>#{tool.name}</a></b><br/>Tags: #{tool.tags.map{ |tag| tag.name }.join(' ')}<br/>".html_safe
              %>

              <%= link_to( "Tool Website", tool.url, :target => "_blank") if !tool.url.nil?%>

            </td>
          </tr>

          <%end%>
          <% else %>

          <tr><td>
            <% if current_user.has_role? :admin_user %>
            <h1 class="warning">No tools available. New tools may be registered from the Tools index.</h1>
            <% else %>
            <h1 class="warning">No tools available. Contact your admin to have them registered.</h1>
            <% end %>
          </tr></td>

          <% end %>

        </table>
      </div>

    </div>

  </div>

</div>
